@use 'base/variables' as var;
@use 'base/mixins' as mix;

.navigation {
    background-color: var.$primary;
    padding: .3rem 0;
    margin: 2rem 0;

    &__border {
        border-block: 2px dashed var.$white;
        padding: 1.7rem 0;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include mix.tablet { 
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__link {
        color: var.$white;
        font-size: 2.4rem;
        margin-bottom: 1.2rem;

        &:last-of-type {
            margin-bottom: 0;
        }

        @include mix.tablet { 
            margin-bottom: 0;
        }
    }
}