@use 'base/variables' as var;

.slider {
    overflow: hidden;

    &__slide {
        height: 100%;
        flex-shrink: 0;
        width: 100%;
        position: relative;
        transition-property: transform;
    }

    &__image {
        width: 100%;
    }
}