@use 'base/variables' as var;

.slider {
    overflow: hidden;
    position: relative;

    &__slide {
        height: 100%;
        flex-shrink: 0;
        width: 100%;
        position: relative;
        transition-property: transform;
    }

    &__image {
        width: 100%;
    }

    .swiper-button-next,
    .swiper-button-prev {
        color: var.$white;
    }

    .swiper-pagination-bullet {
        background-color: var.$white;
    }

    .swiper-pagination-bullet-active {
        background-color: var.$primary;
    }
}