@use 'base/variables' as var;
@use 'base/mixins' as mix;

.timetable {
    background-image: linear-gradient(to bottom, var.$primary 0%, var.$primary 50%, transparent 50%),
    url(../img/bg_timetable.jpg);
    background-repeat: no-repeat;
    background-position: center, bottom center;
    color: var.$white;

    @include mix.tablet { 
        background-image: linear-gradient(to right, var.$primary 0%, var.$primary 50%, transparent 50%),
        url(../img/bg_timetable.jpg);
        background-position: center, top right;
    }

    &__grid {
        display: grid;
        grid-template-rows: repeat(2, 1fr);

        @include mix.tablet { 
            grid-template-rows: unset;

            @include mix.grid(2, 5rem);
        }
    }

    &__content {
        padding: 5rem 0;
    }

    &__heading {
        @include mix.heading;
    }

    &__text {
        font-size: 2.2rem;
        line-height: 1.8;
        text-align: center;
    }
}

.table {
    width: 100%;
    border: .5rem solid var.$secondary;
    text-align: center;
    border-collapse: collapse;

    &__thead {
        background-color: var.$secondary;
    }

    &__th {
        padding: 2rem;
    }

    &__tr {
        &:hover {
            background-color: darken(var.$primary, 10%);
        }
    }

    &__td {
        padding: 1rem;
        font-size: 2.2rem;
    }
}