@use 'base/variables' as var;
@use 'base/mixins' as mix;

.welcome {
    text-align: center;

    &__heading{
        @include mix.headingItalic;
    }

    &__text {
        font-size: 2.6rem;
        color: var.$grey;
        max-width: 50rem;
        margin: 4rem auto 0 auto;
        line-height: 1.8;
    }
}