// Fonts
$mainFont: 'Lato', sans-serif;
$italicFomt: 'Italianno', sans-serif;

// Media Queries Sizes
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colors
$primary: #8ed3cc;
$secondary: #e082a8; 
$black: #000;
$white: #FFFFFF;
$grey: #979797;
$lightGrey: #f8f8f8;